@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  @include flex;
  flex-direction: column;
  background-size: cover;
  background-image: url('../../static/camp.png');
  width: 100vw;
  height: 100vh;
}

.area {
  @include flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50vh;
  width: 90vw;
  background: rgba(0, 0, 0, .5);
  border-radius: 22px;

  .block {
    color: #fff;
    height: 70%;
    width: 70%;

    .input {
      margin-bottom: 40px;
      color: #fff;
    }
  }
}
